<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인하기</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            // 회원가입
            $("#btnUserReg").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                location.href = "/user/userRegForm";
            })

            // 아이디 찾기
            $("#btnSearchUserId").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                location.href = "/user/searchUserId";
            })

            // 비밀번호 찾기
            $("#btnSearchPassword").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                location.href = "/user/searchPassword";
            })


        })

        function checkInputData() {
            let f = document.getElementById("f"); // form 태그

            if (f.user_id.value === "") {
                alert("아이디를 입력하세요.");
                f.user_id.focus();
                return false;
            }

            if (f.password.value === "") {
                alert("비밀번호를 입력하세요.");
                f.password.focus();
                return false;
            }

        }
    </script>
</head>
<body>
<h2>로그인하기</h2>
<hr/>
<br/>
<form action="/user/loginProc" method="post" onsubmit="checkInputData()" id="f">
    <div class="login-box">
        <div class="lb-header">
            <a href="#" class="active" id="login-box-link">Login</a>
            <a href="#" id="signup-box-link">Sign Up</a>
        </div>
        <form class="email-login">
            <div class="u-form-group">
                <input type="email" placeholder="Email"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Password"/>
            </div>
            <div class="u-form-group">
                <button id="btnLogin" type="submit">Log in</button>
            </div>
            <div class="u-form-group">
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>
        </form>
        <form class="email-signup">
            <div class="u-form-group">
                <input type="email" placeholder="Email"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Password"/>
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Confirm Password"/>
            </div>
            <div class="u-form-group">
                <button id="btnUserReg" type="button">Sign Up</button>
            </div>
        </form>
    </div>
    <div>
        <button id="btnSearchUserId" type="button">아이디 찾기</button>
        <button id="btnSearchPassword" type="button">비밀번호 찾기</button>
    </div>
</form>
</body>
</html>
